{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}博客详情{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block main %}
    <h3 class="page-title">{{ question.title }}</h3>
    <p class="question-info">
        <span>作者: {{ question.author }}</span>
        <span style="text-align: right">时间: {{ question.create_time }}</span>
        <hr>
    </p>
    <p class="question-conteat">
    {{ question.content }}
    </p>
    <hr>
    <h4>评论: {{ Comment| length }}</h4>
    <form action="/addcomment/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="comment" class="form-control" placeholder="请填写评论">
            <input type="hidden" name="post_id" value="{{ question.id }}">
        </div>
        <div class="form-group" style="text-align: right">
            <button class="btn btn-primary">立即评论</button>
        </div>
    </form>
    <ul class="comment-list">
        {% for comment in Comment %}
            <li>
                <div class="user-info">
                    <img src="{% static 'images/index.png' %}" alt="" class="head-prot">
                    <span class="username">{{ comment.author_id.username }}</span>
                    <span class="create-time">{{ comment.create_time }}</span>
                </div>
                <p class="content">{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}